*{
margin:0;
padding:0;
}

@media (min-width: 576px) {
    .navbar, .container-fluid,
    .navbar-expand-lg,
    .navbar-expand-lg .navbar-nav {
        margin: 0px;
        position: absolute;
        top: 0px;
        background: url(assests/images/bg.jpg);
        border-radius: 0 0 3px 3px
    }
    .navbar .container-fluid{
        justify-content: center;
        padding: 0px;
    }
    .navbar-expand-xl .navbar-collapse{
        display: flex;
        justify-content: center;
    }
    .navbar {
        width: 15%;
        height: 95vh;
        border-radius: 0 0 3px 3px;
        margin: 0px;
        -ms-flex-align: center;
        align-items: center;
        position: fixed;        
    }
    .navbar-brand {
        width: 40%;
        height: 40%;
        border-radius: 3px;
        margin-top: 20px;
    }
    
    .liste{
        padding: 10px 5px;
    }
    .content_start {  
        margin: 8px 0 0 370px;

    }
    .content_btn_start{
        margin: 8px 0 0 0;
    }
    .content{  
        margin: 50px 0 0 370px;

    }
    .content_ap {
        margin: 70px 0 0 370px;
    }
    .content_veille {
        margin: 70px 0 0 370px;
    }
    .content_veille_p {
        margin: 50px 0 0 370px;
    }
    .content_certif{
        margin: 20px 0 30px 370px;
    }

   .icon{
        width: 50px;
        height: 50px;
    }

    .collapse .navbar-collapse{
        display: flex;
        align-items: center;
        justify-content: center;
        position: static;
    }
    .welcome{
        width: 370px;
        height: 370px;
        float: right;  
        margin-top: -50px;
    }
    .book{
       width: 320px;
       height: 320px;
       float: right;
       margin-right: 30px;
    }
    .barre{
        width: auto;
    }
    .timeline {
      border-left: 2px solid hsl(141, 57%, 15%);
      position: relative;
      list-style: none;
    }

    .timeline .timeline-item {
      position: relative;
    }

    .timeline .timeline-item:after {
      position: absolute;
      display: block;
      top: 0;
    }

    .timeline .timeline-item:after {
      background-color: hsl(0, 0%, 90%);
      left: -38px;
      border-radius: 50%;
      height: 12px;
      width: 12px;
      content: "";
    }
    body {
        margin:0px;
        background-color: #FFFFFF;
    }
    img{
        width: 170px;
        height: 170px;
        border-radius: 3px;
        margin-top: 20px;
        justify-content: center;
        align-items: center;
    }
    nav li{
      padding: 13px 16px;
    }
    nav{
      display: block;
      align-items: center;
      justify-content: center;
      margin-top: 100px;
    }
    nav ul{
        list-style-type: none;
        padding: 0px;
        align-items: center;
        justify-content: center;
    }
    nav a{
        color: #F0F0F0;
        text-decoration: none;
        font-size: 16px; 
    }
    
    nav a:hover{
        color: #113E21;
    }
    nav a:current{
        color: #113E21;
    }
}
@media (max-width: 1110px) and (min-width:576px ) {
    .logo{
        height: 140px;
        width: 140px;
    }
    .content{
        margin: 100px 0 0 250px;
    }
    footer{
        position: absolute;
    }
    .navbar{
        position: absolute;
    }
}

@media (max-width: 992px) {
    .navbar, .container-fluid,
    .navbar-expand-lg,
    .navbar-expand-lg .navbar-nav {
        margin: 0px;
        top: 0px;
        background-color: #B38B59;
        /*height: ;*/
    }
    .navbar-brand {
        width: 80px;
        height: 80px;
    }
    .nav-link .dropdown-toggle .text-center{
        display: flex;
        justify-content: center;
        align-content: center;
    }
    .nav-link ,.dropdown-toggle :hover{
        color: #113E21;
    }
    .navbar-nav{
        flex-direction: row;
        background-color: #B38B59;
    }
    .navbar-toggler{
        display: contents;
    }
    .icon{
        width: 50px;
        height: 50px;
    }
    .foot{
        padding: 0;
    }
    .foot a{
        text-decoration: none;
        color: #000000;
        font-size: 14px; 
    }

     .timeline {
      border-left: 2px solid hsl(141, 57%, 15%);
      position: relative;
      list-style: none;
      left: 15px;
    }

    .timeline .timeline-item {
      position: relative;
    }

    .timeline .timeline-item:after {
      position: absolute;
      display: block;
      top: 0;
    }

    .timeline .timeline-item:after {
      background-color: hsl(0, 0%, 90%);
      left: -38px;
      border-radius: 50%;
      height: 12px;
      width: 12px;
      content: "";
    }
    .realisation{
        font-size: 26px;
    }
    .welcome{
        height: 150px;
        width: 150px;
    }
    .logo{
        height: 80px;
        width: 80px;
    }
    img{
        width: 100px;
        height: 100px;
        border-radius: 3px;
        margin-top: 20px;
    }
    nav li{
        padding: 10px 16px;

    }
    nav{
        display: block;
        align-items: center;
        justify-content: center;
        margin: 40px 0 0 0;
    }
    nav ul{
        list-style-type: none;
        padding: 0px;
        align-items: center;
        justify-content: center;
    }
    nav a{
        color: #F0F0F0;
        text-decoration: none;

    }
    nav a:hover{
        color: #113E21;
    }
    h2{
        margin-bottom: 18px;
    }
    footer{
        position:initial;
        bottom:0;
        width:100%;
        height:60px;
        background-color: #F1EDE7;
    }
    button{
        margin-top: 60px;
    }
    
}


@media (max-width: 576px) {
    .carbon{
    display:none;
    }

}
h2{
    font-family: Gilda Display;
    color: #B38B59;
    font-size: 46px;
    margin-bottom: 25px;
}
.vh2{
    font-family: Gilda Display;
    color: #B38B59;
    font-size: 36px;
    margin-bottom: 36px;
}

section{
    font-family: 'DM sans';
}
footer{
    position:absolute;
    bottom:0;
    width:100%;
    /*padding-top:50px;*/
    height:50px;
    background-color: #F1EDE7;
    }
.title{
    margin: 100px 0 0 370px;
    font-size: 48px;
}
.dropdown{
    color: #F0F0F0;
}

.foot{
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    margin-bottom: 25px;
    
}
.foot a{
    text-decoration: none;
    color: #000000;
    font-size: 16px; 
}
.subtitle{
    font-size: 15px;
}
.test{
    font-size: 24px;
}

h3{
    font-family: DM Sans;
    color: #113E21;
    font-size: 15px;
    margin-bottom: 15px;
}
h4{
    font-family: DM Sans;
    color: #B38B59;
    font-size: 17px;
}
h5{
    font-family: 'DM sans';
}
p{
    text-align: justify;
}
.projet{
    font-family: DM Sans;
    color: #113E21;
    font-size: 16px;
}
.foot_link:hover{
    color: #B38B59;
}
button{
    background-color: #B38B59;
    border: 0;
    border-radius: 25px;
    font-size: 16px;
    padding: 9px 18px;
    color: #F1EDE7;
}
.documentation{
    background-color: #B38B59;
    border: 0;
    border-radius: 25px;
    font-size: 16px;
    padding: 9px 18px;
    margin-top: 25px;
    margin-bottom: 37px;
    margin-right: 50px;
}
.documentations{
    background-color: #B38B59;
    border: 0;
    border-radius: 25px;
    font-size: 16px;
    
    margin-top: 25px;
    
}
.last{
    margin-bottom: 100px;
}
.button_link{
    text-decoration: none;
    color: #F1EDE7;
}
.button_link:hover{
    color: #113E21;
}
svg {
    width: 21px;
    height: 20px;
    vertical-align: sub;
}
.table{
     font-family: DM Sans;
    font-size: 14px;
    margin-bottom: 120px;
}
td, .thead{
    text-align: center;
    vertical-align: middle;
}

.stage{
    display: -webkit-flex;
    justify-content: space-around;
}
.img_env{
    width: 120px;
    height: 120px;
}
.img_env_large{
    width: 160px;
    height: 120px;
}
.img_env_small{
    width: 80px;
    height: 60px;
}
.img_env_ci{
    width: 200px;
    height: 100px;
}
.div_img_env{
    display: -webkit-flex;
    justify-content: space-around;
    margin: 30px 0;
}
.img_wordpress{
    margin: 30px 0;
    width: 200px;
    height: 108px;
}
.lycee{
    color: #B38B59;
    text-decoration: none;
}
.lycee:hover{
    color: #113E21;
}
.btn-primary, .btn{
    background-color: #B38B59!important;
    border: none;
    box-shadow: #B38B59!important;
}
.btn-primary:hover{
    background-color: #113E21;
    border: none;
}
.realisation{
    margin-bottom: 20px;
    /*max-width: 960px;*/
}
.card-title{
    font-family: 'DM sans';
    color: #113E21;
    font-size: 22px;
}
.card-subtitle{
    font-family: 'DM sans';
    font-size: 24px;
}
.sous_titre{
    font-family: 'DM sans';
    font-size: 22px;
}
.text-muted{
    font-family: 'DM sans';
    font-size: 24px;
}
hr{
    background-color: #B38B59;
    border: 1px solid #B38B59;
    opacity: 1;
    margin-bottom: 0.5rem;
}
.bi, .bi-arrow-left{
    font-size: xx-large;
    text-decoration: none;
    color: #B38B59;
}
.bi:hover, .bi-arrow-left:hover{
    color: #113E21;
}
.fw{
    color: #113E21;
}
.text{
    color: #B38B59;
}
.color{
    color: #113E21;

}
.color_or{
    color: #B38B59;
}
.logo_ap{
    width: 312px;
    height: 59px;
    margin: 10px 0px 0px 100px;
}
.logo_biodice{
    width: 250px;
    height: 75px;
    margin: 1px 0px 0px 100px;
}
.logo_barec{
    width: 115px;
    height: 108px;
    margin: -40px 0px 0px 150px;
}
.logo_epoka{
    width: 165px;
    height: 120px;
    margin: -40px 0px 0px 100px;
}
.logo_epoka_abo{
    width: 165px;
    height: 120px;
    margin: -10px 0px 0px 130px;
}
.logo_spin{
    width: 225px;
    height: 69px;
    margin: 0px 0px 0px 0px;
}
.logo_dedal{
    width: 200px;
    height: 200px;
    margin: 0px 0px 0px 0px;
}
.img-card{
    height: -webkit-fill-available;
    margin-bottom: 70px;
}
.img-card-react{
    height: 171px;
    width: 261px;
    margin: 10px 45px 30px;
}
.carbon{
    display:-webkit-inline-box;
    margin: 5px 0 ;
}
.mx-5{
    margin-left: 25rem;
}
.content_certif_down{
    margin-bottom: 0px;
}

.c_anssi{
    width: 470px;
    height: 347px;
}
.c_pix{
    width: 337px;
    height: 460px;
}
.c_open{
    width: 932px;
    height: 57px;
}
.cm_paysage{
    width: 1000px;
    height: 600px;
}
.cm_portrait{
    width: 600px;
    height: 1000px;
}
.open{
    margin: 0px;
}
.nav_icon{
    display: flex;
    justify-content: space-between;
}






